@font-face {
    font-family: 'DroidSans';
    src: url('fonts/DroidSans/DroidSans-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DroidSans';
    src: url('fonts/DroidSans/DroidSans-Bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    font: 12px/1.3em Droid Sans, 'DroidSans';
    color: #ececec;
}

a {
    color: #6290ea;
    text-decoration: none;
}

a:hover,
a:active,
a:focus {
    color: #a0b9ea;
}

#global {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #343434;
    overflow: hidden;
    -webkit-border-radius: 5px;
}

.maximized #global {
    -webkit-border-radius: none;
}

#titlebar,
#statusbar {
    position: absolute;
    left: 0;
    width: 100%;
    height: 22px;
    overflow: hidden;
    z-index: 999;
}

/* TODO: add some padding to the maximized state */
.maximized #titlebar {

}

.maximized #statusbar {

}

#titlebar {
    top: 0;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    background: url('../img/topbg.png') bottom left repeat-x;
    border-bottom: 1px solid #1a1a1a;
}

#statusbar {
    bottom: 0;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    background: url('../img/topbg.png') top left repeat-x;
    border-top: 1px solid #1a1a1a;
}

#contents {
    margin: 50px 0 48px;
    width: 100%;
    overflow: hidden;
}

#contents > div {
    position: relative;
    height: 100%;
    width: 100%;
    float: left;
    overflow: hidden;
}

#titlebar h1 {
    padding: 0;
    text-align: center;
    font-size: 10px;
    line-height: 1.3em;
    font-weight: bold;
    color: #ececec;
	cursor: default;
	margin-top: 4px;
}

#titlebar #windowOps,
#titlebar #contextMenuButton {
    position: absolute;
    top: 0;
    padding: 0;
    margin: 4px 5px 0;
}

#titlebar #windowOps {
    right: 0;
    list-style: none;
}

.mac #titlebar #windowOps {
    left: 0;
    right: auto;
}

#titlebar #windowOps li {
    display: inline;
}

.mac #titlebar #windowOps {
	-webkit-transform: rotate(180deg);
}

#titlebar #contextMenuButton {
    left: 0;
	background: url('../img/cog.png') bottom left no-repeat;
}

#titlebar #contextMenuButton:hover,
#titlebar #contextMenuButton:active,
#titlebar #contextMenuButton:focus {
	background-position: top left;
}

.mac #titlebar #contextMenuButton {
    right: 0;
    left: auto;
}

#titlebar #windowOps a,
#titlebar #contextMenuButton {
    display: inline-block;
    width: 14px;
    height: 14px;
    overflow: hidden;
	text-indent: -9999px;
}

#titlebar #windowOps a {
	background-position: bottom left;
	background-repeat: no-repeat;
}

#titlebar #windowOps #minimize a {
	background-image: url('../img/minimize.png');
}

#titlebar #windowOps #maximize a {
	background-image: url('../img/maximize.png');
}

#titlebar #windowOps #close a {
	background-image: url('../img/close.png');
}

#titlebar #windowOps a:hover,
#titlebar #windowOps a:focus,
#titlebar #windowOps a:active {
    background-position: top left;
}

#statusbar #resize-handle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 9px;
    height: 9px;
    padding: 5px;
}

#statusbar #status-info {
    font-size: 9px;
    line-height: 1em;
    margin: 6px 0 0 10px;
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#statusbar #status-info a {
    color: #909090;
}

#statusbar #status-info a:hover {
	color: #fff;
}

#topnav {
    position: absolute;
    top: 23px;
    left: 0;
    width: 100%;
    background: #1f1f1f;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
    line-height: 1.5em;
    font-weight: bold;
}

#topnav li {
    display: inline;
}

#topnav a {
    display: inline-block;
    color: #ececec;
    padding: 4px 14px 2px;
}

#topnav a.active {
    background: #343434;
}

#topnav-settings {
    position: absolute;
    right: 0;
}

#topnav-settings a {
    padding-right: 16px;
}

#topnav a:hover,
#topnav a:active,
#topnav a:focus {
    color: #fff;
	background: #343434;
	padding-bottom: 1px;
}

#topnav a.active:hover,
#topnav a.active:active,
#topnav a.active:focus {
	padding-bottom: 2px;
}

.bottom {
	position: absolute;
    bottom: 23px;
	left: 0;
	background: #343434;
	border-top: 1px solid #1a1a1a;
	width: 100%;
	height: 22px;
}

#contents div.bottom {
    height: 23px;
	position: absolute;
}

#post .bottom  {
    z-index: -1;
    border-top: none;
}

.bottom .filters {
	padding: 3px 6px 3px 8px;
}

.filters .title {
	display: inline-block;
	margin: 0 3px 0 0;
	padding: 0 0 2px 0;
	font-weight: bold;
	font-size: 11px;
	line-height: 10px;
	vertical-align: bottom;
}

.filters .title:after {
	content: ':';
}

.bottom .filters  ul {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
	height: 16px;
}

.bottom .filters  ul li {
	display: inline-block;
	height: 16px;
	width: 16px;
	overflow: hidden;
	vertical-align: middle;
	margin-right: 3px;
}

.bottom .filters  ul li a {
	display: inline-block;
	height: 16px;
	width: 16px;
	overflow: hidden;
	opacity: 0.25;
}

.filters  ul li a.active {
	opacity: 0.75;
}

.filters  ul li a:hover,
.filters  ul li a:active,
.filters  ul li a:focus {
	opacity: 1;
}

.bottom .post-button {
	position: absolute;
	right: 0;
	bottom: 0;
	display: block;
	height: 22px;
	line-height: 22px;
	font-weight: bold;
	padding: 0 14px;
	margin: 0;
	color: #cbcbcb;
	background: #454545;
}

#post .bottom .post-button,
#post .bottom .post-button:hover,
#post .bottom .post-button:active,
#post .bottom .post-button:focus {
    background: #225396;
    color: #ececec;
}

.bottom .post-button:hover,
.bottom .post-button:active,
.bottom .post-button:focus {
	color: #ececec;
	background: #515151;
}

.scrollbar {
    z-index: 1;
	cursor: pointer;
	position: absolute;
	font-size: 14px;
	right: 0;
	top: 0;
	margin: 10px 0;
	min-height: 60px;
	background: #0b3165;
	color: #ececec;
	width: 16px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-box-shadow: -1px 3px 4px rgba(0,0,0,0.3);
}

.scrollbar:hover,
.scrollbar:active,
.scrollbar:focus {
	color: #fff;
	background: #21559c;
}

.scrollbar span {
	position: absolute;
	left: 4px;
	-webkit-transform:rotate(90deg);
}

.scrollbar .up {
	top: 0;
}

.scrollbar .down {
	bottom: 2px;
}

#contents ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#contents .entries > li {
    position: relative;
    -webkit-box-sizing: border-box;
	width: 100%;
	margin: 0;
	padding: 12px 25px 4px 70px;
	border-bottom: 1px solid #595959;
	min-height: 68px;
    font-size: 11px;
    line-height: 1.3em;
}

#contents .entries > li.owner {
	border-bottom-color: #21559c;
}

#contents .entries > li.unread {
	background: #2e3e53;
}

#contents .entries > li:hover {
	background: #3d3d3d;
}

#contents .entries > li.unread:hover {
	background: #2a4568;
}

#contents .entries > li.mention .entry-contents {
    color: #fff;
}

#contents .entries .actions {
	display: none;
    font-size: 19px;
    line-height: 1.3em;
    font-weight: bold;
    position: absolute;
    right: 26px;
    bottom: 0;
}

#contents .entries .actions a {
    color: #bdbdbd;
}

#contents .entries .actions a:hover,
#contents .entries .actions a:active,
#contents .entries .actions a:focus {
    color: #fff;
}

#contents .entries .actions .opts  a{
    position: relative;
    top: 1px;
}

#contents .entries li:hover .actions {
	display: block;
}

#contents .entries .actions li {
	display: inline;
}

#contents .entries img {
    float: left;
    margin-top: 2px;
    margin-left: -54px;
    border: 1px solid #595959;
}

#contents .entries .owner img {
    border-color: #21559c;
}

#contents .entries .entry-contents {
    padding-bottom: 14px;
}

#contents .entries p {
    margin: 0;
    padding: 0;
}

#contents .entries .meta {
    padding-right: 40px;
    font-size: 10px;
    line-height: 1.2em;
}

#post {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #292727;
    background: rgba(39,39,39,0.7);
    -webkit-border-radius: 5px;
    z-index: 2;
}

#post form {
    height: 155px;
    padding: 5px 5% 0 5%;
    width: 90%;
    position: absolute;
    bottom: 33px;
    z-index: 3;
    background: #343434;
    border: 1px solid #21559c;
    border-left: none;
    border-right: none;
    overflow: hidden;
    text-align: right;
}

form h3 {
    font-size: 1.25em;
    line-height: 1.3em;
    margin: 0;
    padding: 0;
}

#post form h3 {
    float: left;
}

#post form .counter {
    font-size: 0.75em;
    text-align: right;
    color: #a2a2a2;
    margin: 0.4em 0 0 0;
    padding: 0;
}

#post form #post-contents {
    width: 100%;
    height: 60%;
    margin: 0.45em 0;
}

form textarea,
form input {
    border: 1px solid #6c6c6c;
    background: #515151;
    color: #fff;
    font-size: 0.92em;
    line-height: 1.3em;
}

#post form .actions {
    list-style: none;
    display: inline;
    float: left;
    margin: 0;
    padding: 0;
    height: 2em;
}

#post form .actions li {
    display: inline;
}

#post form .actions li a,
form .button {
    display: inline-block;
    padding: 0 0.91em;
    margin: 0;
    background: #5b5b5b;
    color: #fff;
    border: 0;
    vertical-align: top;
    font-weight: bold;
    cursor: pointer;
}

#post form .actions li a:active,
#post form .actions li a:focus,
#post form .actions li a:hover,
form .button:active,
form .button:focus,
form .button:hover {
    background: #21559c;
}

#post form .actions li a,
form .cancel {
    font-size: 0.92em;
    line-height: 1.82em;
    height: 1.82em;
    margin-top: 0.38em;
}

#post form .actions li a {
    background: #2c4d79;
    color: #fff;
}

form .cancel {
    background: #792c2c;
}

form .cancel:hover,
form .cancel:active,
form .cancel:focus {
    background: #972828;
}

form .submit {
    font-size: 12px;
    line-height: 2em;
    height: 2em;
}

#login {
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
    display: table;
}

#login-form {
    display: table-cell;
    vertical-align: middle;
}

#login-form .wrap {
    width: 70%;
    padding: 0;
    background: #343434;
    border: 1px solid #2c4d79;
    margin: 0 auto;
    text-align: right;
}

#login-form label,
#login-form input {
    display: block;
    width: 90%;
    margin: 0 5%;
}

#login-form input {
    margin-bottom: 0.8em;
}

#login-form input.button {
    display: inline-block;
    width: auto;
}

#login-form h3 {
    margin-bottom: 0.42em;
    line-height: 1em;
    padding-left: 2.5%;
    padding-top: 0.3em;
    text-align: left;
    background: #2c4d79;
    overflow: hidden;
}

